In [1]:
import pandas as pd

In [2]:
SUPPORT_VOTE_FLAG = 1
OPPOSE_VOTE_FLAG = 2

In [3]:
bills = pd.read_csv("./files/bills.csv") 
legislators = pd.read_csv("./files/legislators.csv") 
vote_results = pd.read_csv("./files/vote_results.csv")
votes = pd.read_csv("./files/votes.csv")

In [4]:
legislators.head()

        id                             name
0   904789          Rep. Don Bacon (R-NE-2)
1  1603850     Rep. Jamaal Bowman (D-NY-16)
2  1852382          Rep. Cori Bush (D-MO-1)
3   904796  Rep. Brian Fitzpatrick (R-PA-1)
4    15318   Rep. Andrew Garbarino (R-NY-2)

In [5]:
bills.head()

        id                                              title  sponsor_id
0  2952375                   H.R. 5376: Build Back Better Act      412211
1  2900994  H.R. 3684: Infrastructure Investment and Jobs Act      400100

In [95]:
votes.head()

        id  bill_id
0  3314452  2900994
1  3321166  2952375

In [96]:
vote_results.head()

         id  legislator_id  vote_id  vote_type
0  92516784         400440  3321166          2
1  92516770          17941  3321166          2
2  92516768         400414  3321166          2
3  92516753         400380  3321166          2
4  92516734         412393  3321166          2

In [110]:
def get_sponsor_name(sponsor_id):
    if sponsor_id in legislators["id"].values:
        return legislators[legislators["id"] == sponsor_id].iloc[0]["name"]
    return "Unknown"

bills_votes = bills.copy()
bills_votes["primary_sponsor"] = bills_votes["sponsor_id"].apply(get_sponsor_name)
del bills_votes["sponsor_id"]

In [111]:
suported = []
opposed = []
sponsor_name = []

for bill_id in bills_votes["id"]:
    if bill_id not in votes["bill_id"].values:
        continue
        
        
    vote_id = votes[votes["bill_id"] == bill_id].iloc[0]["id"]

    same_vote_id = vote_results["vote_id"] == vote_id
    is_supporting = vote_results["vote_type"] == SUPPORT_VOTE_FLAG
    is_opposing = vote_results["vote_type"] == OPPOSE_VOTE_FLAG
    
    support_votes = vote_results[same_vote_id & is_supporting]
    oppose_votes = vote_results[same_vote_id & is_opposing]  
    
    suported.append(len(support_votes))
    opposed.append(len(oppose_votes))
    
bills_votes["supporter_count"] = suported
bills_votes["opposer_count"] = opposed

In [112]:
bills_votes.head()

,id,title,primary_sponsor,supporter_count,opposer_count
0,2952375,H.R. 5376: Build Back Better Act,Rep. John Yarmuth (D-KY-3),6,13
1,2900994,H.R. 3684: Infrastructure Investment and Jobs Act,Unknown,13,6