In [23]:
import pandas as pd

In [24]:
SUPPORT_VOTE_FLAG = 1
OPPOSE_VOTE_FLAG = 2

In [25]:
bills = pd.read_csv("./files/bills.csv") 
legislators = pd.read_csv("./files/legislators.csv") 
vote_results = pd.read_csv("./files/vote_results.csv")
votes = pd.read_csv("./files/votes.csv")

In [26]:
legislators.head()

        id                             name
0   904789          Rep. Don Bacon (R-NE-2)
1  1603850     Rep. Jamaal Bowman (D-NY-16)
2  1852382          Rep. Cori Bush (D-MO-1)
3   904796  Rep. Brian Fitzpatrick (R-PA-1)
4    15318   Rep. Andrew Garbarino (R-NY-2)

In [30]:
vote_results.head()

         id  legislator_id  vote_id  vote_type
0  92516784         400440  3321166          2
1  92516784         400440  3321166          2
2  92516770          17941  3321166          2
3  92516768         400414  3321166          2
4  92516753         400380  3321166          2

In [28]:
suported = []
opposed = []

for legislator_id in legislators["id"]:
    support_votes = len(vote_results[
        (vote_results["legislator_id"] == legislator_id)
        & (vote_results["vote_type"] == SUPPORT_VOTE_FLAG)
    ])

    oppose_votes = len(vote_results[
        (vote_results["legislator_id"] == legislator_id)
        & (vote_results["vote_type"] == OPPOSE_VOTE_FLAG)
    ])
        
    suported.append(support_votes)
    opposed.append(oppose_votes)
    
legislators_with_votes = legislators.copy()

legislators_with_votes["suported_bills"] = suported
legislators_with_votes["opposed_bills"] = opposed

In [31]:
legislators_with_votes.head()

        id                             name  suported_bills  opposed_bills
0   904789          Rep. Don Bacon (R-NE-2)               1              1
1  1603850     Rep. Jamaal Bowman (D-NY-16)               1              1
2  1852382          Rep. Cori Bush (D-MO-1)               1              1
3   904796  Rep. Brian Fitzpatrick (R-PA-1)               1              1
4    15318   Rep. Andrew Garbarino (R-NY-2)               1              1